html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0; }

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 100px repeat(3, 1fr); }

.navigation__item {
  list-style: none;
  text-decoration: none; }
