html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0; }

.grid-wrapper {
  display: grid;
  grid-template: repeat(4, 1fr)/repeat(2, 1fr);
  grid-gap: 1em; }

.navigation {
  background-color: aquamarine;
  grid-column: auto / -1;
  grid-row: auto; }

.navigation__item {
  display: inline-block;
  list-style: none; }

.navigation__link {
  text-decoration: none; }
  .navigation__link:hover {
    text-decoration: underline; }
