.about {
    @extend %container;
    display: grid; 
    grid-template-columns: minmax(10em,80vw);
    justify-content: center;
    grid-gap: 1.2rem;
    &__image{
        margin-top: 3em;
        justify-self: center;
        border-radius: 50%;
        border: 2px solid $background-secondary;
    }
    &__text{
        p{
        color: $text-secondary;
        font-size: .875rem;
        line-height: 1.5;
        }    
        .about__subtitle{
            margin-top: 2em;
            font-family: $ff-text;
            text-align: center;
            font-size: 1rem;
            color: $text-primary;
        }
    }
}