.portfolio{
    text-align: center;
    background-color: $background-primary;
    padding: 5em 0;
    &__title{
        font-size: 1.5rem;
        color: $text-primary;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        margin-bottom: 2em;
    }
    &__items{
        @extend %container;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .portfolio__item{
            position: relative;
            overflow: hidden;
            height: 18.75em;
            flex: 1 1 20rem;
            .portfolio__image{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            figcaption{
                position: absolute;
                top:100%;
                bottom:0;
                right:0;
                left:0;
                background: rgba($text-secondary, .7);
                text-align: left;
                display: flex;
                flex-direction: column;
                padding: 2em;
                transition: top ease-in-out 300ms;
            }
            &:hover figcaption,
            &:focus figcaption{
                top:0;
            }
            &-title{
                color: $white;
                font-size: 1.5rem;
                font-family: $ff-headings;
                text-transform: uppercase;
                letter-spacing: 0.2rem;
                margin-bottom: auto;
            }
            &-desc{
                color: $white;
                font-size: 1rem;
            }
            &-link{
                align-self: flex-start;
                text-decoration: none;
                border-bottom: 1px dotted $white;
                color: $white;
                i{
                    margin-left: .5em;
                }
                &:hover{
                    border-bottom: 1px solid $white;  
                }
            }
        }
    }
}


.portfolio__modal {
    position: fixed;
    z-index: 10;
    top: 2em;
    bottom: 2em;
    left: 2em;
    right: 2em;
    background: $white;
    box-shadow: 0 0 0 3em rgba(black, .5);
    overflow-y: scroll;
    overflow-x: hidden;
  
    display: none;
  
    &.is-open {
      display: block;
    }
    &-header{
        text-align: left;
        padding: 5em 0;
        margin-bottom: 2em;
        background-size: cover;
        background-position: center;
        position: relative;
        .menu-close{
            border: 0;
            background: transparent;
            position: absolute;
            top: 1em;
            right: 1em;
            cursor: pointer;
        }
    }
    .header-one{
        background-image: url(../images/portfolio/bcd_project.jpg);
    }
    .modal-title-container{
        background: rgba($text-secondary, .8);
        padding: 3em 0 3em 2em;
        width: 80%;
        .portfolio__item-title{
            font-size: 1.2rem;
             display: inline-block;
        }
        .portfolio__item-desc{
            font-size: 0.875rem;
            display: inline-block; 
        }

    }
    &-content {
        p{
            font-size: 0.875rem;
        }  
        text-align: left;
        width: 85%;
        margin: 0 auto;
        padding-bottom: 2em;
      }
  }

  @keyframes modalIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @keyframes modalOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }